* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins',sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
nav {
  height: 70px;
  display:flex;
  padding: 20px 36px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}
.navbar--logo{
  max-width: 100px;
}
.hero {
  display: flex;
  flex-direction: column;
  margin: 20px 0px 0px 20px;
  max-width: 400px;
}

.hero--photo {

  /* align-self: center; */
}

.hero--header {
  margin-bottom: 16px;
}

.hero--text {
  margin-top: 0;
}

.card {
  width: 175px;
  font-size: 12px;
}

.card--img {
  width: 100%;
  border-radius: 9px;
}

.card--stats{
  display: flex;
  align-items: center;
  color: #918E9B;
}

.card--star{
  height: 14px;
}

.card--text span{
  font-weight: bold;
}
